<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Gin!</title>
</head>
<body>
<div class="form-group">
    <label class="col-sm-2 control-label">幸运奖消费金额</label>
    <div class="col-sm-6">
        <input class="form-control" type="text" name="fomo_lucky_min_buy" value="1111" required>
    </div>
</div>
<h1>{{ .Title }}</h1>
<p>{{ .Message }}</p>
</body>
</html>